APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:XEHYHsRVf4yjIWcA7Su4gbQjZww1qwGyxYCunj61zXU=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fundraising_food_donation
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=sandbox.smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=68f7984297f5bf
# MAIL_PASSWORD=e54ea70721f8a4
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="no-reply@fundraising.com"
# MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=heejunhua1231@gmail.com
MAIL_PASSWORD="mavz hcbe ygfg bosd"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=heejunhua1231@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

PAYPAL_SANDBOX_CLIENT_ID=AVWYNy6nC4aTXJa2LBIBl7vLlreq6s3OmsaSgS6xSZ8U5ZZ7Q0BcEcyWLh-fNQfEOCfkaA7yhYSFz4fu
PAYPAL_SANDBOX_CLIENT_SECRET=EGiV2b46oM9cSbj7IPSKaC5x9eEddsz4xl-fCrl64lvTLnqswaR68RkDIZjPEAvM9vtaFEfOMfXZbMdy

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
